<div
  class="bg-gradient-to-r from-[#C1F991] to-[#3EB399] w-full h-screen flex justify-center items-center flex-col"
>
  <div class="flex justify-center">
    <img class="w-[300px]" src="../../assets/logo.png" alt="" />
  </div>

  <main class="flex flex-col items-center text-center mt-10 px-4">
    <h1 class="text-4xl font-bold text-black">
      A massive library of free 3D <span class="text-white">shapes</span>
    </h1>
    <p class="mt-4 text-gray-50 max-w-xl">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries
    </p>
  </main>
  <div class="mt-8 flex items-center">
    <button
      class="w-full bg-gradient-to-r to-[#C1F991] from-[#3EB399] text-white py-3 px-6 rounded-full hover:from-[#C1F991] hover:to-[#3EB399] transition-all"
    >
      <a href="chat"> Go to Chat</a>
    </button>
  </div>
</div>
