<!DOCTYPE html>

<div class="bg-gray-100">
  <div class="flex h-screen">
    <!-- Sidebar -->
    <div
      class="bg-gray-200 w-64 md:w-1/4 flex flex-col justify-between p-4 transition-all duration-300"
    >
      <!-- Header -->
      <div class="flex items-center justify-between mb-4">
        <div class="text-xl font-bold">Chats</div>
        <button class="bg-[#4BB998] text-white p-2 rounded-lg font-semibold">
          + New Chat
        </button>
      </div>
      <br/>
      <div class="flex items-center p-3 bg-gray-50 rounded-md shadow">
        <div class="bg-gray-400 h-10 w-10 rounded-full mr-2">
          <img
          src="../../../../assets/logo.png"
          alt=""
          class="w-10 h-10 rounded-full"
        />
        </div>
        <div class="font-semibold">
          Assistant IA<br/>
          Assistant.com
        </div>
      </div>

    
      <br/>
      <div class="flex items-center p-3 bg-gray-50 rounded-md shadow">
        <div class="bg-gray-400 h-10 w-10 rounded-full mr-2"></div>
        <div class="font-semibold">
          Medecin 1<br/>
          medecin1.com
        </div>
      </div>

      <br/>
      <div class="flex items-center p-3 bg-gray-50 rounded-md shadow">
        <div class="bg-gray-400 h-10 w-10 rounded-full mr-2"></div>
        <div class="font-semibold">
          Medecin 2<br/>
          medecin2.com
        </div>
      </div>

      <br/>
      <div class="flex items-center p-3 bg-gray-50 rounded-md shadow">
        <div class="bg-gray-400 h-10 w-10 rounded-full mr-2"></div>
        <div class="font-semibold">
          Medecin 3<br/>
          medecin3.com
        </div>
      </div>

      <!-- Chat List -->
      <div class="flex-1 overflow-y-auto">
        <div *ngFor="let med of messagesbyidpatient">
          <button
            (click)="messagesMedecin(med.patient.id, med.patient.user.username)"
            class="mb-2 p-2 bg-white rounded-md hover:bg-gray-100 focus:bg-gray-300 shadow w-full text-start"
          >
            <div class="font-semibold flex items-center gap-2">
              <img
                src="../../../../assets/logo.png"
                alt=""
                class="w-10 h-10 rounded-full"
              /><span>{{ med.patient.user.username }}</span>
            </div>
            <div class="text-sm text-gray-500">Last message preview...</div>
          </button>
        </div>

        <!-- Add more contacts as needed -->
      </div>

      <!-- User Profile -->
      <div class="flex flex-col">
        <div class="flex items-center p-3 bg-gray-50 rounded-md shadow">
          <div class="bg-gray-400 h-10 w-10 rounded-full mr-2"></div>
          <div class="font-semibold">
            {{ user.user.username }} <br />
            {{ user.user.email }}
          </div>
        </div>

        <button
          (click)="logout()"
          class="mt-5 bg-red-500 text-white px-2 py-1 rounded-md"
        >
          Log out
        </button>
      </div>
    </div>

    <!-- Chat Area -->
    <div class="flex-1 flex flex-col">
      <!-- Chat Header -->
      <div
        class="bg-gray-100 p-4 flex items-center justify-between border-b border-gray-300"
      >
        <div class="font-semibold flex items-center gap-2">
          <img
            src="../../../../assets/logo.png"
            alt=""
            class="w-10 h-10 rounded-full bg-[#4BB998]"
          /><span>{{ selectedMedecinName }}</span> Compte : {{ user.type_c }}
        </div>
        <div class="text-gray-500">Last seen at...</div>
      </div>

      <!-- Messages Area -->
      <div class="flex-1 overflow-y-auto p-4 bg-white">
        <div >
          <div class="mb-4 flex justify-start">
            <div
              class="bg-white text-gray-700 p-2 rounded-lg shadow-md max-w-[600px]"
            >
              <!-- {{ medmessage.question.question_text }} -->
              <!-- <p>{{ rep.response }}</p>
              <p>{{ rep.is_chatbot }}</p> -->
         
            </div>
          </div>

          <div class="mb-4 flex justify-end">
            <div
              class="bg-[#4BB998] text-white p-2 rounded-lg shadow-md max-w-[600px]"
            >
            <p>{{ rep.reponse }}</p>
            <!-- <p>{{ rep.is_chatbot }}</p> -->
            </div>

            <!-- <div
              *ngIf="!medmessage.responses || medmessage.responses.length === 0"
            >
              <p>No responses yet.</p>
            </div> -->
          </div>
        </div>
        <!-- Add more messages as needed -->
      </div>

      <!-- Message Input -->
      <div class="p-4 border-t border-gray-300 flex">
        <form
          class="w-full"
          name="form"
          (ngSubmit)="f.form.valid && add_message()"
          #f="ngForm"
          novalidate
        >
          <label> input_language </label>
          <select [(ngModel)]="form.input_language" name="input_language">
            <option value="french">Fr</option>
            <option value="arabe">Ar</option>
            <option value="english">AN</option>
          </select>
          <label> output_language </label>
          <select [(ngModel)]="form.output_language" name="output_language">
            <option value="french">Fr</option>
            <option value="arabe">Ar</option>
            <option value="english">AN</option>
          </select>
          <br />
          <input
            type="text"
            placeholder="Type a message"
            class="p-2 border border-gray -300 rounded-lg focus:ring-2 focus:ring-[#3EB399] outline-none w-5/6"
            autocomplete="message"
            [(ngModel)]="form.message"
            name="message"
            required
            #message="ngModel"
          />

          <button
            class="w-auto ml-2 p-2 bg-[#4BB998] focus:bg-[#40a083] transition-all duration-100 text-white rounded-lg"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
