<!DOCTYPE html>
<div class="bg-gray-100">
  <div class="flex h-screen">
    <!-- Sidebar -->
    <div
      class="bg-gray-200 w-64 md:w-1/4 flex flex-col justify-between p-4 transition-all duration-300"
    >
      <!-- Header -->
      <div class="flex items-center justify-between mb-4">
        <div class="text-xl font-bold">Chats</div>
        <div
          class="bg-[#4BB998] text-white p-2 rounded-lg font-semibold w-auto"
        >
          <select
            name="+ Add new chat"
            value="+ Add new chat"
            id=""
            class="text-white bg-[#4BB998] w-auto"
          >
            <option value="med">Add new chat</option>
            <option value="med"></option>
          </select>
        </div>
      </div>

      <!-- Chat List -->
      <div class="flex-1 overflow-y-auto">
        <div *ngFor="let med of messagesbyidpatient">
          <button
            (click)="messagesMedecin(med.medecin.id, med.medecin.user.username)"
            class="mb-2 p-2 bg-white rounded-md hover:bg-gray-100 focus:bg-gray-300 shadow w-full text-start"
          >
            <div class="font-semibold flex items-center gap-2">
              <img
                src="../../../../assets/logo.png"
                alt=""
                class="w-10 h-10 rounded-full"
              /><span>{{ med.medecin.user.username }}</span>
            </div>
            <div class="text-sm text-gray-500">Last message preview...</div>
          </button>
        </div>
      </div>

      <!-- User Profile -->
      <div class="flex flex-col">
        <div class="flex items-center p-3 bg-gray-50 rounded-md shadow">
          <div class="bg-gray-400 h-10 w-10 rounded-full mr-2"></div>
          <div class="font-semibold">
            {{ user.user.username }} <br />
            {{ user.email }}
          </div>
        </div>
        <button
          (click)="logout()"
          class="mt-5 bg-red-500 text-white px-2 py-1 rounded-md"
        >
          Log out
        </button>
      </div>
    </div>

    <!-- Chat Area -->
    <div class="flex-1 flex flex-col">
      <!-- Chat Header -->
      <div
        class="bg-gray-100 p-4 flex items-center justify-between border-b border-gray-300"
      >
        <div class="font-semibold flex items-center gap-2">
          <img
            src="../../../../assets/logo.png"
            alt=""
            class="w-10 h-10 rounded-full bg-[#4BB998]"
          /><span>{{ selectedMedecinName }}</span> Compte : {{ user.type_c }}
        </div>
        <div class="text-gray-500">Last seen at...</div>
      </div>

      <!-- Messages Area -->
      <div class="flex-1 overflow-y-auto p-4 bg-white">
        <div *ngFor="let medmessage of messagesbyidpatientMedecin">
          <div class="mb-4 flex justify-end">
            <div
              class="bg-[#4BB998] text-white p-2 rounded-lg shadow-md max-w-[600px]"
            >
              {{ medmessage.question_text }}
            </div>
          </div>

          <div class="mb-4 flex justify-start">
            <div
              *ngIf="medmessage.responses && medmessage.responses.length > 0"
              class="bg-[#ffffff] border border-gray-200 p-2 rounded-lg text-gray-700 shadow-md max-w-[600px]"
            >
              <p *ngFor="let response of medmessage.responses">
                {{ response.reponse_text }}
              </p>
            </div>
            <div
              *ngIf="!medmessage.responses || medmessage.responses.length === 0"
            >
              <p
                class="bg-[#f13b3b] text-white p-2 rounded-lg shadow-md max-w-[600px]"
              >
                <!-- No responses yet. -->
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Message Input -->
      <div class="p-4 border-t border-gray-300 flex">
        <form
          class="w-full"
          name="form"
          (ngSubmit)="f.form.valid && add_message()"
          #f="ngForm"
          novalidate
        >
          <input
            type="text"
            placeholder="Type a message"
            class="w-5/6 p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#3EB399] outline-none"
            autocomplete="question_text"
            [(ngModel)]="form.question_text"
            name="question_text"
            required
            #question_text="ngModel"
          />
          <button
            class="ml-2 p-2 bg-[#4BB998] focus:bg-[#40a083] transition-all duration-100 text-white rounded-lg"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
